.cardAdd {
    position: relative;
    width: 370px;
    background-color: white;
    border-radius: 8px;
    padding: 35px 30px 30px 30px;
    margin: 20px 0;
    box-sizing: border-box;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.05);
}
